.instances {
  grid-area: 3/2/3/2;
}
.content {
  padding: 15px;
}
h5,
h4 {
  font-weight: 100;
  font-style: italic;
  color: var(--color-grey-500);
  margin-top: 5px;
}

h2,
p {
  margin: 20px 0;
  color: var(--color-grey-700);
}

h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
