.instances {
  grid-area: 3/2/3/2;
  padding: 15px;
}

h5,
h4 {
  font-weight: 100;
  font-style: italic;
  color: var(--color-grey-500);
  margin-top: 5px;
}

h2,
p {
  margin-top: 15px;
  color: var(--color-grey-700);
}
